# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

<p>Some of the popular languages that Data Scientists use are:</p>
<ol><li>SQL</li>
<li>R</li>
<li>Python</li>

<p> Some of the commonly used libraries by Data Scientists include: </p>
<ol>
    <li>NumPy</li>
    <li>Pandas</li>
    <li>SciPy</li>

<table>
    <tr>
        <th>Data Science Tools</th>
    </tr>
    <tr>
        <td>Jupyter Notebook</td>
    </tr>
    <tr>
        <td>RStudio</td>
    </tr>
    <tr>
        <td>Apache Zeppelin</td>
    </tr>
</table>

<table>
    <tr>
<th> Data Science Tools </th>
    </tr>
</tr>
    <tr
        <td> Jupyter Notebook </td>
    </tr>
<tr>
    <td> Apache Zeppelin </td>
</tr>
    
<tr><td> RStudio </td>
</tr>

### Below are a few examples of evaluating arithmetic expressions in Python.

In [24]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [25]:
#This will convert 200 minutes to hours by diving by 60.
minutes = 200
hour = 200/60
print(hour)

3.3333333333333335

<p> <b> Objectives </b> </p>
<ul> 
<li> List popular languages for Data Science </li>
<li> Understand the role of data cleaning and preparation. </li>
<li> Explore data visualization techniques </li>
<li> Learn about machine learning algorithms </li>
<li> Gain insights into model evaluation and selection </li>
</ul>

## Author
Abeer Moazzam